<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gooseberry</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="/static/script/tabs.js"></script> -->
  <script>
  function getInv(){
    $.ajax({
      type: "POST",
      url: "/getinv/",
      cache: false,
      success: function(data) {
        document.getElementById("invTbody").innerHTML = "";
        var obj = JSON.parse(data);
        for ( str in obj ){
          var status="unknown";
          if(obj[str][2]=='v'){
            status="voting";
          }
          else if (obj[str][2]=='f'){
            status="finished";
          }
          $('#invTbody').append("<tr><td><a href=\"{{url_for('invitation',inv_id='"+obj[str][0]+"',host='true')}}\">"+obj[str][1]+"</a></td><td>"+status+"</td><td>"+obj[str][3]+"</td></tr>");
        }
      }
    });
    return true;
  }
  function getEve(){
    $.ajax({
      type: "POST",
      url: "/geteve/",
      cache: false,
      success: function(data) {
        var obj = JSON.parse(data);
        for ( str in obj ){
          var status="unknown";
          if(obj[str][2]=='v'){
            status="voting";
          }
          else if (obj[str][2]=='f'){
            status="finished";
          }
          $('#invTbody').append("<tr><td><a href=\"{{url_for('invitation',inv_id='"+obj[str][0]+"',host='true')}}\">"+obj[str][1]+"</a></td><td>"+status+"</td><td>"+obj[str][3]+"</td><td>"+obj[str][4]+"</td></tr>");
        }
      }
    });
    return true;
  }
  function getCon(){
    $.ajax({
      type: "POST",
      url: "/getcon/",
      cache: false,
      success: function(data) {
        var friendList = JSON.parse(data);
        for ( str in friendList ){
          uid = friendList[str][0];
          uname = friendList[str][2];
          if(uname==''){
            uname = friendList[str][1];
          }
          $('#contactList').append("<label><input type=\"checkbox\" name=\"usercheckbox\" value="+uid+"> "+uname+" </label><br>");
        }
      }
    });
    return true;
  }
  </script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Gooseberry </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"> Log Out </span></a>
    </li>
    <li>
      <a href="#"><span class="glyphicon glyphicon-user"> {{uname}}</span></a>
    </li>
    </ul>
  </div>
</nav>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#calendar">Calendar</a></li>
    <li><a data-toggle="tab" href="#invitations" onclick="getInv()">Invitations</a></li>
    <li><a data-toggle="tab" href="#events" onclick="getEve()">Events</a></li>
    <li><a data-toggle="tab" href="#goose" onclick="getCon()">Goose</a></li>
  </ul>

  <div class="tab-content">
    <div id="calendar" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="invitations" class="tab-pane fade">
      <h3>Invitations I started</h3>
      <p>to be filled.</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>State</th>
            <th>Votes</th>
          </tr>
        </thead>
        <tbody id="invTbody">
        </tbody>
      </table>
    </div>
    <div id="events" class="tab-pane fade">
      <h3>Events I Joined</h3>
      <p>to be filled.</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>State</th>
            <th>Votes</th>
            <th>Creator</th>
          </tr>
        </thead>
        <tbody id="eveTbody">
        </tbody>
      </table>
    </div>
    <div id="goose" class="tab-pane fade">
      <h3>Contacts</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      <ul id="contactList" style="list-style-type:circle;height:auto">
      </ul>
    </div>
  </div>
</div>

</body>
</html>
