<!DOCTYPE html>
<html lang="en">
<head>
  <title>DEFS</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"> Gooseberry </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="{{ url_for('hello') }}"><span class="glyphicon glyphicon-log-out"> Log Out </span></a>
    </li>
    <li>
      <a href="#"><span class="glyphicon glyphicon-log-in"> Name </span></a>
    </li>
    </ul>
  </div>
</nav>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#calendar">Calendar</a></li>
    <li><a data-toggle="tab" href="#menu2"> I Started </a></li>
    <li><a data-toggle="tab" href="#menu3"> I Joined </a></li>
    <li><a data-toggle="tab" href="#contacts"> Contacts </a></li>
  </ul>

  <div class="tab-content">
    <div id="calendar" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      <a href="{{url_for('invitation', inv_id='001' )}}"> invitation 001 </a>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
    <div id="contacts" class="tab-pane fade">
      <h3>Contacts</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      <a href="{{url_for('user', id='001' )}}"> EVELYN </a>
    </div>
  </div>
</div>

</body>
</html>
