<!DOCTYPE html>
<html lang="en">
<head>
  <title>Gooseberry</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.bootcss.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
  var options;
  var impose_tds = $(".timeunit1");
  var baseColorR = 255-80;
  var baseColorG = 255-30;
  var baseColorB = 255-130;
  $(document).ready(function(){
    // for(var i=0; i<10; i++){
    //   alert(i);
    //   // $('.pos_abs').append('<tr><td class="timeunit1"></td><td class="timeunit1"></td><td class="timeunit1"></td><td class="timeunit1"></td><td class="timeunit1"></td><td class="timeunit1"></td><td class="timeunit1"></td></tr>');
    // }
    var dataString = {{data|tojson}};
    var data = JSON.parse(dataString);
    //set basic info
    $('h2').text(data[0][0]);
      if(data[0][1]=='v'){
        $('h4').text('Voting...');
      }
      else{
        $('h4').text('Settled down.');
      }
      $('#creatorTag').html('Creator : '+data[0][2]);
      $('#description').html('<b>description</b> '+data[0][3]);
    //set difference of creator and other people
    var uid = '{{uid}}';
      if(data[0][2]!=uid) {
        $('#setBtn').hide();
        $('#delBtn').hide();
      }
      var count = 0;
      var members = JSON.parse(data[0][5]);
      var membersMD = $('#membersModalBody');
      var mopts=[];
      membersMD.text('');
      for(i in members){
        count+=1;
        member = members[i];
        membersMD.append("<p>"+member+"</p></br>");
        if(member==uid){
          $('#joinBtn').hide();
          $('#exitBtn').show();
          $('#modiBtn').show();
          var tmopts=JSON.parse('{{moptions|tojson}}');
          tmopts= JSON.parse(tmopts);
          for (mopt in tmopts){
            mopts.push(tmopts[mopt][0]);
          }
        }
      }
    $('#voteCounts').text('Votes : '+count);
    //initialize
    impose_tds = $(".timeunit1");
      var td;
      for(var i = 0; i < impose_tds.length; i++){
        td = impose_tds[i];
        td.index = i;
        td.align='center';
        td.style.color='grey';
      }
      for(i in mopts){
        impose_tds[mopts[i]].style.color='black';
      }
    //show user's options
    options=JSON.parse(data[0][4]);
    for(var i = 0;i<options.length; i++){
      td=impose_tds[options[i]];
      td.innerHTML='<b>O<b>';
      td.onclick=function() {
        if(this.style.color=='grey'){
          this.style.color='black';
        }else if(this.style.color=='black'){
          this.style.color='grey';
        }
      };
    }
    //show settled blocks
    var finals = [];
    if(data[0][7]!=""){
      finals = JSON.parse(data[0][7]);
    }
    for(var i = 0;i<finals.length; i++){
      td=impose_tds[finals[i]];
      td.innerHTML='<b>√</b>';
    }
    //set colors based on data from backend
    $.ajax({
      type: "POST",
      url: "/getInvOptions/",
      cache: false,
      data: {opt:JSON.stringify(options), invid:'{{inv}}' },
      dataType: 'json',
      success: function(data) {
        var memn=members.length;
        for(i in data){
          var ratio=data[i].length/memn;
          impose_tds[options[i]].style.backgroundColor=transColor(ratio);
        }
      }
    });
  });
  //inner function
  function transColor(ratio){
    return ("rgb("
    +(255-parseInt(ratio*baseColorR))+","
    +(255-parseInt(ratio*baseColorG))+","
    +(255-parseInt(ratio*baseColorB))+")");
  }
  //transfer td's id
  function myid_to_id(tmp){
    var num = (tmp%linenum)*7+(parseInt(tmp/linenum));
    return num;
  }
  function id_to_myid(tmp){
    var num = (tmp%7)*linenum+(parseInt(tmp/7));
    return num;
  }
  //visit backend
  function modify(){
    results=[];
    for(opt in options){
      if(impose_tds[options[opt]].style.color=='black'){
        results.push(options[opt]);
      }
    }
    window.location.href='/modiInv/?opt='+JSON.stringify(results)+'&invid='+'{{inv}}';
  }
  function settle(){
    results=[];
    for(opt in options){
      if(impose_tds[options[opt]].style.color=='black'){
        results.push(options[opt]);
      }
    }
    window.location.href='/setInv/?opt='+JSON.stringify(results)+'&invid='+'{{inv}}';
  }
  function deleteInv(){
    window.location.href='/delInv/{{inv}}';
  }
  function join(){
    results=[];
    for(opt in options){
      if(impose_tds[options[opt]].style.color=='black'){
        results.push(options[opt]);
      }
    }
    window.location.href='/joinInv/?opt='+JSON.stringify(results)+'&invid='+'{{inv}}';
  }
  function exitInv(){
    window.location.href='/exitInv/?invid={{inv}}';
  }
  </script>
  <style type="text/css">
    td{ border:solid 1px #C0C0C0;
      height:25px;
      width:100px;}
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Gooseberry</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out"> Log Out </span></a>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-user"> {{uname}} </span></a>
      </li>
    </ul>
  </div>
</nav>
<!-- members ids Modal -->
<div class="modal fade" id="members" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Who has voted</h4>
      </div>
      <div class="modal-body" id = "membersModalBody">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <h2 style="display:inline"> EXAMPLE INVITATION PAGE </h2> <h4 style="color:grey; display:inline"><b> voting... </b></h4>
  <button id="setBtn" onclick="settle()" style="float:right" type="button" class="btn btn-info"> Set </button>
  <button id="delBtn" onclick="deleteInv()" style="float:right" type="button" class="btn btn-danger"> Delete </button>
  <p id="creatorTag" style="color:grey"> creator : default </p> <p style="float:right" id="voteCounts" data-toggle="modal" data-target="#members">&nbspVotes: 37</p>
  <p id="description"> </p>
  <table border="1"  bordercolor="#909090" class="pos_abs">
    {% for i in range(24) %}
    <tr>
      {% for j in range(7) %}
		    <td class="timeunit1"></td>
      {% endfor%}
		</tr>
    {% endfor%}
  </table>
  <p style="display:inline;color:black">O为选中&nbsp</p><p style="display:inline;color:grey">&nbspO为未选中&nbsp请选择后再提交 √为发起者敲定的时间</p></br>
  <button id="joinBtn" onclick='join()' type="button" class="btn btn-success"> Join </button>
  <button id="exitBtn" onclick='exitInv()' style="display:none" type="submit" class="btn btn-danger"> Exit </button>
  <button id="modiBtn" onclick='modify()' style="display:none" type="button" class="btn btn-warning"> Modify </button>
</div>

</body>
</html>
